html, body {
    margin: 0 auto;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #2b5797;
    margin: 0 auto;
    min-width: 320px;
}

nav {
    max-width: 800px;
    background-color: #2b5797;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b5797;
}


li a {
    display: block;
    height: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #224477;
}

.active {
    background-color: #4CAF50;
}

main {
    position: relative;
    top: 400px;
    max-width: 800px;
    margin: 0 auto;
    z-index: -1;
}

#section {
   position: absolute;
   width: 100%;
   margin: 10px;
}


#home {
    background-color: red;
}

#about {
    background-color: green;
}

#experience {
    background-color: blue;
}

#img {
    display: none;
    position: fixed;
    top: 90px;
    height: 225px;
    width: 198px;
}

body {
    background-image: url("image/bg_frontend.jpg");
    
}

#imgs {
    
    width: 50px;
    height: 50px;
    border-radius:50px;
    z-index: 0;
    display: block; 
    margin: 0 auto; 
}
